[Unit]
Description=Run PyGitDatBack No-UI Service Weekly

[Timer]
OnCalendar={{SCHEDULE}}
Persistent=true
RandomizeDelaySec=60

[Install]
WantedBy=timers.target