[Unit]
Description=PyGitDatBack No-UI Background Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{PYTHON_PATH}} {{PATH_TO_ENTRY_POINT}}
WorkingDirectory={{PATH_TO_PROJECT}}
User=1000
Group=1000
RemainAfterExit=no
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target