[Unit]
Description=Run PyGitDatBack No-UI Service Weekly

[Timer]
OnCalendar={{SCHEDULE}}
Persistent=true
AccuracySec=10min
RandomizeDelaySec=60

[Install]
WantedBy=timers.target